@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: #060c21;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    width: 90%;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;

    .box {
        position: relative;
        height: 400px;
        background: #060c21;
        display: flex;
        justify-content: center;
        align-content: center;
        border: 1px solid #000;

        .content {
            position: relative;
            padding: 20px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h2 {
                position: absolute;
                top: -0px;
                right: 20px;
                margin: 0;
                padding: 0;
                font-size: 10rem;
                color: rgba(255, 255, 255, .05);
                transition: 0.5s;
            }

            h3 {
                margin: 0 0 10px;
                padding: 0;
                font-size: 24px;
                font-weight: 500;
                color: #fff;
            }

            p {
                margin: 0;
                padding: 0;
                color: #fff;
                font-size: 16px;
            }

            a {
                position: relative;
                margin: 20px 0 0;
                padding: 10px 20px;
                text-decoration: none;
                border: 1px solid #fff;
                display: inline-block;
                color: #fff;
                transition: 0.5s;
                transform: translateY(-40px);
                opacity: 0;
                visibility: hidden;
                width: max-content;

                &:hover {
                    color: #000;
                    background: #fff;
                }
            }
        }

        &:hover {
            .content {
                h2 {
                    top: -55px;
                }

                a {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }

            &::after {
                width: 30%;
            }

            &::before{
                transform: skew(2deg, 2deg);
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            background: #fff;
            transform: skew(0);
            z-index: -1;
            transition: 0.5s;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: rgba(255, 255, 255, 0.05);
            pointer-events: none;
            transition: 0.5s;
        }

        &:nth-child(1) {
            &:before {
                background: linear-gradient(315deg, #ff0057, #e64a19);
            }
        }

        &:nth-child(2) {
            &:before {
                background: linear-gradient(315deg, #89ff00, #00bcd4);
            }
        }

        &:nth-child(3) {
            &:before {
                background: linear-gradient(315deg, #e91e63, #5d02ff);
            }
        }

        &:nth-child(4) {
            &:before {
                background: linear-gradient(315deg, #ff0000, #ffc107);
            }
        }
    }
}
