@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    // background: #50003b;
    background: #302929;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    position: absolute;

    .mail {
        width: 300px;
        height: 200px;
        background: #ff8789;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            border-left: 150px solid transparent;
            border-right: 150px solid #ff393c;
            border-top: 100px solid transparent;
            border-bottom: 100px solid #ff393c;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            z-index: 5;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-left: 150px solid #ff5355;
            border-right: 150px solid transparent;
            border-top: 100px solid transparent;
            border-bottom: 100px solid #ff5355;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            z-index: 4;
        }

        .letter{
            position: relative;
            z-index: 3;
            top: 0;
            background: #dedede;
            width: 80%;
            transition: 0.5s ease;
            transition-delay: 0.5s;
            border-radius: 20px;
            padding: 5px;
            text-align: center;
            font-family: "Playball";
            box-shadow: 4px 1px 5px -4px #000;

            h1{
                font-size: 20px;
                text-align: center;
            }
        }

        .cover {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                border-left: 150px solid transparent;
                border-right: 150px solid transparent;
                border-top: 100px solid #ff8789;
                border-bottom: 100px solid transparent;
                z-index: 6;
                transform-origin: top;
                transform: rotateX(0deg);
                transition: all 0.5s ease-in-out;
                transition-delay: 0.9s;
            }
        }

        &:hover{
            .cover{
                &::before{
                    transition: all 0.5s ease;
                    transform: rotateX(180deg);
                }
            }
            .letter{
                top: -50%;
            }
        }
    }
}