body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #240229;
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: animate 2s linear infinite;
    transform: rotate(0deg) scale(1);

    span {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);

        &:nth-child(1){
            filter: blur(5px);
        }
        &:nth-child(2){
            filter: blur(10px);
        }
        &:nth-child(3){
            filter: blur(25px);
        }
        &:nth-child(4){
            filter: blur(50px);
        }
    }

    &::after{
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-radius: 50%;
        background: #240229;
    }
}

@keyframes animate{
    0%{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(180deg) scale(1.5);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}