@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

html {
    min-height: 100%;
    overflow: hidden;
}

body {
    height: calc(100vh - 8em);
    padding: 4em;
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Anonymous Pro', monospace;
    background-color: rgb(25, 25, 25);
}

.line {
    position: absolute;
    top: 50%;
    left: 20px;
    // right: 0;
    text-align: left;
    width: 0em;
    margin: auto;
    margin-left: 0;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);

    &.text-1 {
        opacity: 0;
    }

    &.text-2 {
        opacity: 0;
        text-align: left;
        border-right: 2px solid transparent;
    }

    &.text-3 {
        opacity: 0;
        border-right: 2px solid transparent;
    }
    &.text-4 {
        opacity: 0;
        border-right: 2px solid transparent;
    }
}

.anim-typewriter {
    animation: blinkTextCursor 500ms steps(40) 0s infinite normal,
               typeriter 2s steps(40) 1s 1 normal both,
               untype1 1s steps(50) 5s,
               hideElement 1ms normal 6s 1 both;
}

.anim-typewriter2 {
    animation: blinkTextCursor 500ms steps(40) 6s infinite normal,
               typeriter2 2s steps(40) 7s 1 normal both,
               untype2 1s steps(50) 10s,
               hideElement 1ms normal 11s 1 both;
}

.anim-typewriter3 {
    animation: blinkTextCursor 500ms steps(40) 11s infinite normal,
               typeriter2 2s steps(40) 12s 1 normal both,
               untype2 1s steps(50) 16s,
               hideElement 10ms normal 17s 1 both;
}

.anim-typewriter4 {
    animation: blinkTextCursor 500ms steps(40) 17s infinite normal,
               showElement 1ms normal 17s 1 both,
               typeriter 2s steps(40) 18s 1 normal both;
}

@keyframes typeriter {
    0% {
        width: 0;
    }

    100% {
        width: 28ch;
    }
}

@keyframes untype1 {
    from {
        width: 28ch;
    }

    to {
        width: 0em;
    }
}

@keyframes untype2 {
    from {
        width: 20ch;
    }

    to {
        width: 0em;
    }
}

@keyframes typeriter2 {
    from {
        width: 0em;
    }

    to {
        width: 20ch;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}

@keyframes hideElement {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes showElement{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}