* {
  margin: 0;
  padding: 0;
  font-family: consolas;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #050801;
}

a {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 20px;
  color: #03e9f4;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 4px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  -webkit-transform: rotate3d(-2, 19, 0, 30deg);
          transform: rotate3d(-2, 19, 0, 30deg);
}

a:nth-child(1) {
  -webkit-filter: hue-rotate(290deg);
          filter: hue-rotate(290deg);
}

a:nth-child(2) {
  -webkit-filter: hue-rotate(50deg);
          filter: hue-rotate(50deg);
}

a:nth-child(3) {
  -webkit-filter: hue-rotate(110deg);
          filter: hue-rotate(110deg);
}

a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#03e9f4));
  background: linear-gradient(90deg, transparent, #03e9f4);
  -webkit-animation: animate1 1s linear infinite;
          animation: animate1 1s linear infinite;
}

@-webkit-keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#03e9f4));
  background: linear-gradient(180deg, transparent, #03e9f4);
  -webkit-animation: animate2 1s linear infinite 0.25s;
          animation: animate2 1s linear infinite 0.25s;
}

@-webkit-keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(270deg, transparent, #03e9f4);
  -webkit-animation: animate3 1s linear infinite 0.5s;
          animation: animate3 1s linear infinite 0.5s;
}

@-webkit-keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(360deg, transparent, #03e9f4);
  -webkit-animation: animate4 1s linear infinite 0.75s;
          animation: animate4 1s linear infinite 0.75s;
}

@-webkit-keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

a:hover {
  background: #03e9f4;
  color: #050801;
  -webkit-box-shadow: 0 0 5px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
          box-shadow: 0 0 5px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
  -webkit-transform: rotate3d(0, 0, 0, 45deg);
          transform: rotate3d(0, 0, 0, 45deg);
}
/*# sourceMappingURL=style.css.map */